body {
    background: linear-gradient(#11555E, #88B8DD);
    font-family: Arial, sans-serif;
}

section {
    position: relative;
    padding: 50px;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo {
    height: 100px;
    width: 100px;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-right a h4:hover {
    color: red;
}

.manager {
    text-align: center;
    padding: 50px;
}

.manager img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 900px) {
    section {
        display: block;
    }
}

footer {
    background-color: #0D282D;
    text-align: center;
    padding: 20px;
    color: #FFFFFF5F;
    position: absolute;
    left: 0;
    right: 0;
}